.form-group
  = label :source, :name, 'Fonte'
  = text_field :source, :name, :class => "form-control"
.form-group
  = label :source, :url, 'Link'
  = text_field :source, :url, :class => "form-control"
.form-group
  = label :source, :text, 'Texto na íntegra'
  = text_area :source, :text, :size => '50x10', :class => "form-control"

-#= label :source, :file, 'Imagem'
-#= file_field :source, :image_file
.form-group
  = submit_tag 'Salvar', :class => "btn btn-lg btn-primary"
  = link_to 'Voltar', incident_path(@incident)
