.form-group
  = label :victim, :id, 'ID' if @victim.id
  = @victim.id if @victim.id
.form-group
  = label :victim, :name, 'Nome'
  = text_field :victim, :name, :class => "form-control"
.form-group
  = label :victim, :gender, 'Gênero'
  = select :victim, :gender, options_for_select(['Masculino', 'Feminino'], @gender), {:include_blank => true}, { :class => 'form-control' }
.form-group
  =label :victim, :age, 'Idade'
  = text_field :victim, :age, :class => "form-control"
.form-group
  = label :victim, :severity_id, 'Gravidade'
  = select :victim, :severity_id, options_from_collection_for_select(@severities, 'id', 'name', @severity), {:include_blank => true}, { :class => 'form-control' }
.form-group
  = label :victim, :experience_id, 'Experiência do turista'
  = select :victim, :experience_id, options_from_collection_for_select(@experiences, 'id', 'name', @experience), {:include_blank => true}, { :class => 'form-control' }


%h3 Condições do acidente
.form-group
  = label :victim, :equipment, 'A atividade estava sendo realizada com os equipamentos adequados?'
  = yesNoNAselect :victim, :equipment, @equipment
.form-group
  = label :victim, :tourist_imprudence, 'Imprudência do turista'
  = yesNoNAselect :victim, :tourist_imprudence, @tourist_imprudence
.form-group
  = label :victim, :guide_malpractice, 'Imperícia do prestador'
  = yesNoNAselect :victim, :guide_malpractice, @guide_malpractice
.form-group
  = label :victim, :guide_negligence, 'Negligência do prestador'
  = yesNoNAselect :victim, :guide_negligence, @guide_negligence
.form-group
  = label :victim, :climate_conditions, 'O clima estava propício para a atividade?'
  = yesNoNAselect :victim, :climate_conditions, @climate_conditions


%h3 Denúncias
.form-group
  =label :victim, :incident_report_number, 'Número do Boletim de Ocorrência'
  = text_field :victim, :incident_report_number, :class => "form-control"
.form-group
  =label :victim, :process_number, 'Dados do Processo Judicial'
  = text_field :victim, :process_number, :class => "form-control"


%h3 Primeiros socorros
.form-group
  = label :victim, :first_aid_conducted, 'Houve realização de primeiros socorros?'
  = yesNoNAselect :victim, :first_aid_conducted, @first_aid_conducted
.form-group
  = label :victim, :first_aid_equipment, 'Havia no local equipamentos de primeiros socorros?'
  = yesNoNAselect :victim, :first_aid_equipment, @first_aid_equipment
.form-group
  = label :victim, :staff_trained_in_first_aid, 'Havia socorristas ou salva-vidas no local?'
  = yesNoNAselect :victim, :staff_trained_in_first_aid, @staff_trained_in_first_aid
.form-group
  = label :victim, :doctor_on_call, 'Havia médico de plantão no local?'
  = yesNoNAselect :victim, :doctor_on_call, @doctor_on_call

.form-group
  = submit_tag 'Salvar', :class => "btn btn-lg btn-primary"
