= label :victim, :name, 'Nome'
= text_field :victim, :name

= label :victim, :gender, 'Gênero'
= select :victim, :gender, options_for_select(['Masculino', 'Feminino'], @gender), include_blank: true

=label :victim, :age, 'Idade'
= text_field :victim, :age

= label :victim, :severity_id, 'Gravidade'
= select :victim, :severity_id, options_from_collection_for_select(@severities, 'id', 'name', @severity), include_blank: true

= label :victim, :effect_alcohol, 'Sob efeito de álcool'
= yesNoNAselect :victim, :effect_alcohol, @effect_alcohol

= label :victim, :effect_drugs, 'Sob efeito de entorpecentes'
= yesNoNAselect :victim, :effect_drugs, @effect_drugs

= label :victim, :physically_challenged, 'Limitação física'
= yesNoNAselect :victim, :physically_challenged, @physically_challenged

= label :victim, :experience_id, 'Experiência com turismo'
= select :victim, :experience_id, options_from_collection_for_select(@experiences, 'id', 'name', @experience), include_blank: true


%h3 Condições do acidente
= label :victim, :equipment, 'Equipamento de segurança da atividade'
= yesNoNAselect :victim, :equipment, @equipment

= label :victim, :tourist_imprudence, 'Imprudência do turista'
= yesNoNAselect :victim, :tourist_imprudence, @tourist_imprudence

= label :victim, :guide_malpractice, 'Imperícia do prestador'
= yesNoNAselect :victim, :guide_malpractice, @guide_malpractice

= label :victim, :guide_negligence, 'Negligência do prestador'
= yesNoNAselect :victim, :guide_negligence, @guide_negligence

= label :victim, :climate_conditions, 'Condições climáticas'
= yesNoNAselect :victim, :climate_conditions, @climate_conditions


%h3 Processo judicial
=label :victim, :incident_report_number, 'Número do B.O.'
= text_field :victim, :incident_report_number

=label :victim, :process_number, 'Número do processo'
= text_field :victim, :process_number


= submit_tag 'Salvar'
