%td= incident.id
%td= incident.information_origin
%td= incident.user.name if incident.user
%td= incident.user.supervisor.name if incident.user and incident.user.supervisor
%td= incident.description
%td= incident.date.strftime("%d/%m/%Y") if incident.date
%td= incident.date.strftime("%Y") if incident.date
%td= incident.city.state.name if incident.city
%td= incident.city.name if incident.city
%td= incident.post_code
%td= incident.location
%td= incident.location2
%td= incident.tourist_attraction
%td= incident.contact
%td= incident.sub_category.category.name if incident.sub_category
%td= incident.sub_category.name if incident.sub_category
%td= incident.occurrence_factor.name if incident.occurrence_factor
%td= incident.chapter.name if incident.chapter
%td= incident.proposal_for_action
%td= incident.following ? 'Sim' : 'Não'
%td= tags2string incident.tags
%td= incident.verified ? 'Sim' : "Não"
%td= incident.property_usage.name if incident.property_usage
%td= incident.property_company
%td= incident.tourist_guide
%td= yesNoNA2text incident.property_signaling
%td= yesNoNA2text incident.equipment_failure
%td= yesNoNA2text incident.adequacy_to_norms
