= label :incident, :date, 'Data do acidente'
= text_field :incident, :date

= label :incident, :state, 'UF'
= select_tag :state, options_from_collection_for_select(@states, 'id', 'name', @state), include_blank: true

= label :incident, :city, 'Cidade'
- if @cities
  = render :partial => 'cities/cities_select', locals: {cities: @cities, city: @city}
- else
  = select :incident, :city_id, []

= label :incident, :post_code, 'CEP'
= text_field :incident, :post_code

= label :incident, :location, 'Localização'
= text_field :incident, :location

= label :incident, :tourist_attraction, 'Polo turístico'
= text_field :incident, :tourist_attraction

= label :incident, :contact, 'Contato'
= text_field :incident, :contact

= label :incident, :sub_category, 'Categoria/Sub-categoria'
= select :incident, :sub_category_id, option_groups_from_collection_for_select(@categories, :sub_categories, :name, :id, :name, @sub_category), include_blank: true

= label :incident, :occurrence_factor, 'Fator de ocorrência'
= select :incident, :occurrence_factor_id, options_from_collection_for_select(@occurrence_factors, 'id', 'name', @occurrence_factor), include_blank: true

= label :incident, :chapter_id, 'Capítulo'
= select :incident, :chapter_id, options_from_collection_for_select(@chapters, 'id', 'name', @chapter), include_blank: true

= label :incident, :purpose_id, 'Finalidade (não preencher)'
= select :incident, :purpose_id, options_from_collection_for_select(@purposes, 'id', 'name', @purpose), include_blank: true

= label :incident, :proposal_for_action, 'Proposta de ação'
= text_field :incident, :proposal_for_action

= label :incident, :following, 'Acompanhamento AFV'
= check_box :incident, :following

= label :incident, :description, 'Descrição'
= text_area :incident, :description, :size => '50x10'

%br
= submit_tag 'Salvar'
- if @incident
  = link_to 'Voltar', incident_path(@incident)
- else
  = link_to 'Voltar', incidents_path
