= label :incident, :date, 'Data do acidente'
= text_field :incident, :date

= label :incident, :state, 'UF'
= select_tag options_from_collection_for_select(@states, 'id', 'name')

= label :incident, :city, 'Cidade'
= select :incident, :city, []

= label :incident, :post_code, 'CEP'
= text_field :incident, :post_code

= label :incident, :location, 'Localização'
= text_field :incident, :location

= label :incident, :tourist_attraction, 'Polo turístico'
= text_field :incident, :tourist_attraction

= label :incident, :contact, 'Contato'
= text_field :incident, :contact

= label :incident, :category, 'Categoria'
= select_tag options_from_collection_for_select(@categories, 'id', 'name')


= label :incident, :sub_category, 'Sub-categoria'
= select :incident, :sub_category, []

= label :incident, :occurrence_factor, 'Fator de ocorrência'
= select :incident, :occurrence_factor_id, options_from_collection_for_select(@occurrence_factors, 'id', 'name', @occurrence_factor)

= label :incident, :chapter_id, 'Capítulo'
= select :incident, :chapter_id, options_from_collection_for_select(@chapters, 'id', 'name', @chapter)

= label :incident, :purpose_id, 'Finalidade (não preencher)'
= select :incident, :purpose_id, options_from_collection_for_select(@purposes, 'id', 'name', @purpose)

= label :incident, :proposal_for_action, 'Proposta de ação'
= text_field :incident, :proposal_for_action

= label :incident, :following, 'Acompanhamento AFV'
= check_box :incident, :following

= label :incident, :description, 'Descrição'
= text_area :incident, :description, :size => '50x10'

%br
= submit_tag 'Salvar'
- if @incident
  = link_to 'Voltar', incident_path(@incident)
- else
  = link_to 'Voltar', incidents_path
