.form-group
  = label :incident, :id, 'ID' if @incident
  = @incident.id if @incident
.form-group
  = label :incident, :date, 'Data do acidente'
  = text_field :incident, :date, :value => @date
.form-group
  = label :incident, :description, 'Descrição'
  = text_area :incident, :description, :size => '50x10'
.form-group
  = label :incident, :state, 'UF'
  = select_tag :state, options_from_collection_for_select(@states, 'id', 'name', @state), include_blank: true
.form-group
  = label :incident, :city_id, 'Cidade'
  - if @cities
    = render :partial => 'cities/cities_select', locals: {cities: @cities, city: @city}
  - else
    = select :incident, :city_id, []
.form-group
  = label :incident, :post_code, 'CEP'
  = text_field :incident, :post_code
.form-group
  = label :incident, :location, 'Localização (Latitude/Longitude)'
  = text_field :incident, :location
.form-group
  = label :incident, :tourist_attraction, 'Polo turístico'
  = text_field :incident, :tourist_attraction
.form-group
  = label :incident, :contact, 'Contatos'
  = text_area :incident, :contact, :size => '50x10'
.form-group
  = label :incident, :sub_category_id, 'Categoria/Sub-categoria'
  = select :incident, :sub_category_id, option_groups_from_collection_for_select(@categories, :sub_categories, :name, :id, :name, @sub_category), include_blank: true
.form-group
  = label :incident, :occurrence_factor_id, 'Fator de ocorrência'
  = select :incident, :occurrence_factor_id, options_from_collection_for_select(@occurrence_factors, 'id', 'name', @occurrence_factor), include_blank: true
.form-group
  = label :incident, :chapter_id, 'Capítulo'
  = select :incident, :chapter_id, options_from_collection_for_select(@chapters, 'id', 'name', @chapter), include_blank: true
.form-group
  = label :incident, :proposal_for_action, 'Proposta de ação'
  = text_field :incident, :proposal_for_action
.form-group
  = label :incident, :following, 'Acompanhamento pela Férias Vivas'
  = check_box :incident, :following
.form-group
  = label_tag :tags, 'Palavras-chave (separadas por ponto e vírgula)'
  = text_field_tag :tags, tags2string(@tags), size: 50

  - if current_user.is_supervisor?
    = label :incident, :verified, 'Validado'
    = check_box :incident, :verified
.form-group
  %h3 Dados do local
  = label :incident, :property_usage_id, 'Uso da propriedade'
  = select :incident, :property_usage_id, options_from_collection_for_select(@property_usages, 'id', 'name', @property_usage), include_blank: true
.form-group
  = label :incident, :property_company, 'Empresa atuante'
  = text_field :incident, :property_company
.form-group
  = label :incident, :tourist_guide, 'Guia contratado'
  = text_field :incident, :tourist_guide
.form-group
  = label :incident, :property_signaling, 'Havia sinalização sobre risco?'
  = yesNoNAselect :incident, :property_signaling, @property_signaling
.form-group
  = label :incident, :equipment_failure, 'Houve falha de equipamento?'
  = yesNoNAselect :incident, :equipment_failure, @equipment_failure
.form-group
  = label :incident, :adequacy_to_norms, 'A atividade estava em acordo com as normas de segurança?'
  = yesNoNAselect :incident, :adequacy_to_norms, @adequacy_to_norms

  %br
.form-group
  = submit_tag 'Salvar', :class => "btn btn-lg btn-primary"
  - if @incident
    = link_to 'Voltar', incident_path(@incident)
  - else
    = link_to 'Voltar', incidents_path
