%h2 Ocorrêcnias

%table
  %thead
    %tr
      %th Data
      %th Cidade
      %th UF
      %th Categoria
      %th Sub-categoria
      %th Acompanhamento AFV
      %th Mais detalhes
  %tbody
    - @incidents.each do |incident|
      %tr
        %td= incident.date.strftime("%d/%m/%Y")
        %td= incident.city
        - if incident.city != nil; state = incident.city.state; end
        %td= state
        - if incident.sub_category; category = incident.sub_category.category.name; end
        %td= category
        - if incident.sub_category; sub_category = incident.sub_category.name; end
        %td= sub_category
        %td= if incident.following; 'Sim'; else; 'Não'; end
        %td= link_to "Mais...", incident_path(incident)

= link_to "Adicionar", new_incident_path
