%h2 Detalhes da ocorrência

%ul#details
  %li
    Data:
    = @incident.date.strftime("%d/%m/%Y")
  %li
    Cidade:
    - if @incident.city
      = @incident.city.name
  %li
    UF:
    - if @incident.city
      = @incident.city.state.name
  %li
    CEP:
    = @incident.post_code
  %li
    Localização:
    = @incident.location
  %li
    Polo turístico:
    = @incident.tourist_attraction
  %li
    Contato:
    = @incident.contact
  %li
    Categoria:
    - if @incident.sub_category
      = @incident.sub_category.category.name
  %li
    Subcategoria:
    - if @incident.sub_category
      = @incident.sub_category.name
  %li
    Fator de ocorrência:
    - if @incident.occurrence_factor
      = @incident.occurrence_factor.name
  %li
    Capítulo:
    - if @incident.chapter
      = @incident.chapter.name
  %li
    Finalidade:
    - if @incident.purpose
      = @incident.purpose.name
  %li
    Proposta de ação:
    = @incident.proposal_for_action
  %li
    Acompanhamento AFV:
    - if @incident.following
      Sim
    - else
      Não
  %li
    Responsável:
    = @incident.user.name

%h3 Descrição:
%p#descricao= simple_format @incident.description

%h3 Dados do local:
%ul#location
  %li
    Uso da propriedade:
    - if @incident.property_usage
      = @incident.property_usage.name
  %li
    Jurisdição
    = @incident.property_jurisdiction
  %li
    Empresa atuante:
    = @incident.property_company
  %li
    CNPJ:
    = @incident.property_inscription
  %li
    Guia contratado:
    = @incident.tourist_guide
  %li
    Sinalização:
    = yesNoNA2text @incident.property_signaling
  %li
    Falha de equipamento:
    = yesNoNA2text @incident.equipment_failure
  %li
    Adequação às normas:
    = yesNoNA2text @incident.adequacy_to_norms

    %h3 Vítimas
    %table#victims
      %thead
        %tr
          %th Nome
          %th Idade
          %th Gênero
          %th Gravidade
          %th Sob efeito de álcool
          %th sob efeito de entorpecentes
          %th Limitação física
          %th Experiência
          %th Ação
      %tbody
        - @incident.victims.each do |victim|
          %tr
            %td= victim.name
            %td= victim.age
            %td= victim.gender
            %td= victim.severity.name if victim.severity
            %td= yesNoNA2text victim.effect_alcohol
            %td= yesNoNA2text victim.effect_drugs
            %td= yesNoNA2text victim.physically_challenged
            %td= victim.experience.name if victim.experience
            %td= link_to('Alterar', edit_incident_victim_path(@incident, victim)) + " " + link_to('Apagar', incident_victim_path(@incident, victim), :method => :delete)
        %tr
          %td= link_to 'Adicionar vítima', new_incident_victim_path(@incident)



= link_to 'Editar', edit_incident_path(@incident)
= link_to 'Apagar', incident_path(@incident), :method => :delete
= link_to 'Voltar para listagem', incidents_path
