= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password, "Senha"
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      %label.checkbox{ :for => :remember_me}
        = f.check_box :remember_me
        = "Lembre de mim"

  .actions
    = f.submit "Entrar"
= render "devise/shared/links"
