%h2 Categoria
.container.bgwhite
  %h2
    Nome:
    = @category.name
  = link_to 'Editar', edit_category_path(@category), :class => "btn btn-lg btn-primary"
  = link_to 'Apagar', category_path(@category), :method => :delete, :class => "btn btn-lg btn-danger"
  = link_to 'Voltar', categories_path

  %h3 Sub-categorias

  = link_to 'Adicionar', new_category_sub_category_path(@category), :class => "btn btn-lg btn-success"

  %table{:class => "table table-striped"}
    %thead
      %tr
        %th Nome
        %th Ação
    %tbody
      - @category.sub_categories.each do |sub_category|
        %tr
          %td= link_to sub_category.name, edit_category_sub_category_path(@category, sub_category)
          %td= link_to 'Apagar', category_sub_category_path(@category, sub_category), :method => :delete
